body {
  display: flex;
  justify-content: center;
  width: 100%;
}

#root {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10vh;
  
}

.App {
  text-align: center;
  border: 2px solid black;
  width: 80%;
  margin: 0;
}

.homePageContainer {
  border: 2px solid orange;
}

.App > * {
  margin: 2px;
}

.App > * > * {
  margin: 2px;
}

.App > * > * > * {
  margin: 2px;
}

.header {
  border: 2px solid blue;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar {
  border: 2px solid green;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empList {
  border: 2px solid purple;
}

.empListItem {
  border: 2px solid red;
}

.employeePage {
  border: 2px solid brown;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
}

.employeeInfo {
  width: 70%;
  align-self: center;
}

.employeeInfo > * {
  border: 2px solid lightgray;
}

.employeeInfo > * > * {
  padding: 1vh;
}


h4 {
  margin: 0;
}

h5 {
  margin: 0;
}